<div class="container forum">
  {{group-details model=model
      groupName=groupName
      createNewMessageViaParams='createNewMessageViaParams'
      showLogin='showLogin'}}

  <div class="list-controls">
    <div class="container">
      {{outlet "navigation-bar"}}
    </div>
  </div>

  <div class='forum-outlet'>
    {{outlet "list-container"}}
  </div>
</div>
